/* CSS Document */
.mid_cn3_padd
{
	padding-top:50px;
}
.mid_cn3_ln2_padd
{
	padding-left:10px;
}
.lft_cn3_inp1_art
{
	font-size:12px;
	height:35px;
	width:240px;
	border-radius:0px;
	border: 1px solid #d0d0d0;
	padding-left:10px;
}
