.menu_fx
{
	position: fixed;
	width: 100%;
	z-index: 2500;
}
.bgimg
{
	width:100%;
	height:100px;
	z-index:-1;
	position:absolute;
	top:65px;
	left:0px;
}
.lft
{
	width:28%;
	float:left;
	background-color:transparent;
}
.mid
{
	width:50%;
	float:left;
	background-color:transparent;
}
.rgt
{
	width:22%;
	float:left;
	background-color:transparent;
}
.cntCntr
{
	position:absolute;
	left:95px;
	top:70px;
}
.lft_cntr
{
	border:1px solid #e2e2e2;
	box-shadow:1px 1px 1px #e2e2e2 inset;
	border-radius:2px;
	background-color:#fff;
}
.lft_cn1
{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:13px;
	background-color:#fff;
	font-size:21px;
	color:#666;
}
.lft_cn2
{
	width:100%;
	height:6px;
	background-color:#E7E7E7;
}
.lft_cn0
{
	font-size:15px;
	color:#fff;
	margin-bottom:7px;
}
.lft_lnk0:link
{
	color:#fff;
}
.lft_lnk0:hover
{
	color:#fff;
}
.lft_lnk0:visited
{
	color:#fff;
}
.mid_cn0
{
	font-size:40px;
	padding-top:37px;
	padding-left:20px;
	color:#fff;
}
.mid_cn1
{
	margin:20px;
	margin-top:30px;
	font-size:15px;
}
.mid_cn2
{
	width:93%;
	height:6px;
	background-color:#E7E7E7;
	margin:20px;
}
.rgt_cn0_btn0
{
	font-size:15px;
	color:#8D8D8D;
}
.rgt_cn0
{
	padding-top:40px;
	padding-left:50px;
}
.bmkicn
{
	color:#00bfe7;
}
.rgt_cn1
{
	padding-left:20px;
}
.rgt_cn1_1
{
	font-size:19px;
	padding-top:40px;
}
.rgt_cn1_2
{
	width:100%;
	margin-top:10px;
	height:6px;
	background-color:#E7E7E7;
}
.rgt_cn1_3
{
	margin-top:20px;
	font-size:16px;
}
.rgt_cn1_ln1:link
{
	color:#7F7F7F;
}
.rgt_cn1_ln1:hover
{
	color:#7F7F7F;
}
.rgt_cn1_ln1:visited
{
	color:#7F7F7F;
}
.mid_cn3_0
{
	width:15%;
	float:left;
}
.mid_cn3_1
{
	width:85%;
	float:left;
}
.mid_cn3_1_0
{
	position:relative;
}
.mid_cn3
{
	margin-left:20px;
}
.mid_cn3_ln1
{
	font-size:20px;
}
.mid_cn3_ln1:link
{
	color:#00bfe7;
}
.mid_cn3_ln1:hover
{
	color:#00bfe7;
}
.mid_cn3_ln1:visited
{
	color:#00bfe7;
}
.mid_cn3_btn1
{
	position:absolute;
	top:0px;
	right:20px;
}
.mid_cn3_1_1
{
	border-top:thin dotted #7B7B7B;
	border-bottom:thin dotted #7B7B7B;
	margin-top:7px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:25px;
	font-size:13px;
	color:#666;
}
.mid_cn3_1_2
{
	font-size:15px;
	margin-top:10px;
	color:#777;
}
.mid_cn3_ln2:link
{
	color:#00bfe7;
}
.mid_cn3_ln2:hover
{
	color:#00bfe7;
}
.mid_cn3_ln2:visited
{
	color:#00bfe7;
}
.inftxt
{
	color:#B5B5B5;
	font-size:11px;
}
.mid_cn3_sp2
{
	margin-left:20px;
}
.mid_cn3_1_5
{
	font-size:13px;
	margin-top:5px;
}
.lft_cn3_1
{
	font-size:18px;
	padding-left:5px;
}
.lft_cn3_ln1:link
{
	color:#00bfe7;
}
.lft_cn3_ln1:visited
{
	color:#000;
}
.lft_cn3_ln1:hover
{
	color:#00bfe7;
	text-decoration:none;
}
.lft_cn3_2
{
	margin-top:10px;
}
.lft_cn3
{
	padding:20px;
	border-bottom:1px solid #e2e2e2;
}
.lft_cn3_inp1
{
	height:35px;
	width:277px;
}
.lft_cn5_1_1
{
	font-size:13px;
	color:#616161;
	padding-top:5px;
}
.lft_cn5_1_2
{
	font-size:13px;
	padding-left:10px;
	padding-top:5px;
}
.lft_cn6_2_2
{
	padding-left:20px;
}
#lft_cn6_2_3
{
	padding-left:20px;
}
.lft_cn6_2_dv
{
	margin-top:10px;
	position:relative;
}
.lft_cn6_2_sp
{
	position:absolute;
	top:0px;
	right:0px;
	color:#8A8A8A;
}
.lft_cn6_3
{
	width:100%;
	height:1px;
	background-color:#e2e2e2;
	margin-top:20px;
}
.lft_cn6_4_btn
{
	background-color:#313131;
	color:#fff;
	font-size:11px;
	padding:5px;
	border:none;
	padding-left:7px;
	padding-right:7px;
	margin-top:10px;
}
#lft_cn6_2_3
{
	display:none;
}

.mid_blue_back
{
	margin: 20px;
	background-color: #7fffd4;
	border-color: #00ffff solid 1px;
	border-radius: 4px;
	color: #3a87ad;
	padding-left:10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.blue_back_lnk:link
{
	color:#00bfe7;

}
.blue_back_lnk:hover
{
	color:#00bfe7;
}
.blue_back_lnk:visited
{
	color:#00bfe7;
}
.top_brdr
{
	border-top: thin dotted #7b7b7b;
	padding-top: 5px;
	margin-right:25px;
}